<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :Artist Id %>
  <%= f.text_field :artist_id %>
  
  <div class="field">
    <%= f.label :category_id, 'Post Category:' %><br>
    <%= f.collection_radio_buttons :category_id, @categories, :id, :name %>
  </div>

  <%= f.submit %>
<% end %>


